<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Companies</title>
  <style>
    body{
      background: url("https://wallpaperaccess.com/full/19604.jpg") no-repeat;
      background-size: cover;
    }
    table,
  td {
    border: 2px solid #333;
    margin-top: 230px;
    margin-left: auto;
    margin-right: auto;
    font-size: 27px;
  }

  thead,
  tfoot {
    background-color: white;
    color: black;
  }
  </style>
  <style>
    table, th, td {
      border: 1px solid black;
      padding: 3px;
    }
    .s1{
      padding: 20px 400px;
      margin: 10px 200px;
    }
  </style>
</head>
<body>
<div class="s1">
  <button type="button" class="btn btn-outline-primary" th:href="@{/courses}"><a th:href= "@{/courses}">Course</a></button>
  <button type="button" class="btn btn-outline-success" th:href="@{/groups}"> <a th:href= "@{/groups}">Group</a></button>
  <button type="button" class="btn btn-outline-success" th:href="@{/students}"> <a th:href= "@{/students}">Student</a></button>
  <button type="button" class="btn btn-outline-success" th:href="@{/teachers}"> <a th:href= "@{/teachers}">Teacher</a></button>
</div>
<table class="table table-bordered ">
  <thead class="table-dark">
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Company name</th>
    <th scope="col">Located country</th>
    <th scope="col">Update</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody class="table-success">
  <tr th:each="company : ${companies}">
    <td th:text="${company.id}"></td>
    <td th:text="${company.companyName}"></td>
    <td th:text="${company.locatedCountry}"></td>

    <td><a th:href="@{/companies/{id}/updateCompany(id=${company.id})}">
      <button style="height: 40px; width: 80px; background-color:lightgreen;">UPDATE</button>
    </a>
    </td>
    <td><form th:method="DELETE" th:action="@{/companies/{id}(id=${company.getId()})}">
      <input type="submit" value="DELETE" style="height: 40px; width: 80px; background-color:red;"/></form></td>
  </tr>
  </tbody>
</table>
<br><br><br><br>
<input type="button" value="Add company" class="add1 btn btn-outline-success"
       onclick="window.location.href = 'companies/addCompany'">
</body>
</html>