<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            background: url("https://wallpaperaccess.com/full/19611.jpg") no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
<form th:action="@{/companies/{id}(id=${company.getId()})}"
      th:object="${company}"
      th:method="patch">
    <div>
        <input th:field="*{companyName}" ></div>
    <div>
        <input th:field="*{locatedCountry}">
    </div>
    <div>
        <input type="submit" value="update">
    </div>
</form>
</body>
</html>